@charset "UTF-8";
.title h1 {
  color: red;
}

.colorful p {
  background-color: #bbb;
}

.colorful span:nth-child(7n+1) {
  color: red;
}

.colorful span:nth-child(7n+2) {
  color: orange;
}

.colorful span:nth-child(7n+3) {
  color: yellow;
}

.colorful span:nth-child(7n+4) {
  color: greenyellow;
}

.colorful span:nth-child(7n+5) {
  color: blue;
}

.colorful span:nth-child(7n+6) {
  color: purple;
}

.colorful span:nth-child(7n) {
  color: darkviolet;
}

.gaming {
  /* 横長で虹色を作る */
  background: -webkit-gradient(linear, left top, right top, from(Magenta), color-stop(yellow), color-stop(Cyan), to(Magenta)) 0% center/200%;
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  -webkit-animation: gaming 0.5s linear infinite;
          animation: gaming 0.5s linear infinite;
}

@-webkit-keyframes gaming {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}

@keyframes gaming {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}

.gaming-text {
  /* 横長で虹色を作る */
  color: #FF8C00;
  background: -webkit-gradient(linear, left top, right top, from(Magenta), color-stop(yellow), color-stop(Cyan), to(Magenta)) 0% center/200%;
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  -webkit-animation: gaming 0.5s linear infinite;
          animation: gaming 0.5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reverse-gaming {
  /* 横長で虹色を作る */
  background: -webkit-gradient(linear, left top, right top, from(Magenta), color-stop(yellow), color-stop(Cyan), to(Magenta)) 0% center/200%;
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 0.5s linear reverse infinite;
}

@-webkit-keyframes reverse-gaming {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}

@keyframes reverse-gaming {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}

.countdown p .colored {
  color: magenta;
  background-color: #00ff00;
}

.countdown p .colored span {
  font-size: 2em;
  background-color: #00ff00;
}

.pop-font {
  font-family: 'HGS創英角ﾎﾟｯﾌﾟ体';
  font-size: 3rem;
}

body {
  background-image: url("back.png");
}

.scroll {
  width: 100%;
  overflow: hidden;
}

.scroll .animation {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.scroll .keyframe {
  -webkit-animation-name: anim_h;
          animation-name: anim_h;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@-webkit-keyframes anim_h {
  0% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(calc(100vw - 341.5px), 0);
            transform: translate(calc(100vw - 341.5px), 0);
  }
}

@keyframes anim_h {
  0% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(calc(100vw - 341.5px), 0);
            transform: translate(calc(100vw - 341.5px), 0);
  }
}
/*# sourceMappingURL=style.css.map */